<link rel="icon" type="image/png" href="{{ "favicon.png" | relURL }}">
<link rel="icon" type="image/svg+xml" href="{{ default "favicon.svg" .Params.favicon.svg | relURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ default "favicon-32x32.png" .Params.favicon.png32 | relURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ default "favicon-16x16.png" .Params.favicon.png16 | relURL }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ default "apple-touch-icon.png" .Params.favicon.appleTouch | relURL }}">
<link rel="manifest" href="{{ default "site.webmanifest" .Params.favicon.manifest | relURL }}">
